/* style.css */


/* Introduction Section */

body {
    background-color: #222222;
    color: White;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.subtitle {
    font-size: 4vh;
    padding-top: 20px;
    padding-bottom: 20px;
}

.subtitleBackground {
    background-color: black;
    border: 1px solid black;
    margin-top: 4vw;
    padding-left: 2vw;
    padding-right: 2vw;
}

.subtext {
    font-size: 3vh;
    margin: 30px;
    line-height: 150%;
}

ul {
    display: inline;
    position: relative;
    list-style: none;
    position: relative;
    overflow: auto;
}

.blockTitle {
    background-color: black;
    border: 1px solid black;
    margin-bottom: 3vh;
    margin-top: 5vh;
    padding: 0.85vw;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
}

.blockText {
    background-color: white;
    color: black;
    display: inline-block;
    font-size: 20px;
    margin: 5px;
    padding: 0.85vw;
    text-align: center;
    text-decoration: none;
}


/* Global Presentation */

.housing {
    height: 100%;
    position: fixed;
    width: 100%;
}

.block {
    background-color: #222222;
    bottom: 4.1vh;
    border: 1px solid #222222;
    box-sizing: border-box;
    float: left;
    height: 100vh;
    overflow: hidden;
    position: relative;
    transition-delay: 0.145s;
    transition: 0.5s ease-in-out;
    right: 100%;
}

.title {
    border-bottom: 3px solid #333333;
    display: block;
    font-size: 5vw;
    font-weight: 600;
    margin-left: 3.9vw;
    margin-top: 8vh;
    padding-bottom: 50px;
    position: fixed;
    text-orientation: mixed;
    transform-origin: 50% 10%;
    transition: ease-in-out;
    transition-delay: 0.15s;
    transition-duration: 0.3s;
    writing-mode: vertical-rl;
}

.container {
    bottom: 0;
    border-top: 2px solid #222222;
    height: 0%;
    overflow: auto;
    position: absolute;
    transition: height 1s ease;
    width: 100%;
}

.content {
    background-color: #222222;
    opacity: 60%;
    padding-top: 5%;
    padding-bottom: 10%;
    padding-left: 15%;
    padding-right: 15%;
    top: 0;
}

.blockButton {
    background-color: white;
    border: 1px solid black;
    font-size: medium;
    padding: 15px;
    margin: 30px;
    text-align: center;
    text-decoration: none;
    position: relative;
}

.blockButton:visited {
    text-decoration: none;
    color: black;
}


/* Welcome Block */

#block_a {
    width: 70vw;
    border-left: none;
}

#title_a {
    background: -webkit-linear-gradient(#42E695, #3BB2B8);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#container_a {
    background: linear-gradient(to right, #42E695, #3BB2B8);
}


/* Projects Block */

#block_b {
    width: 15vw;
}

#title_b {
    background: -webkit-linear-gradient(#F54EA2, #FF7676);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#container_b {
    background: linear-gradient(to right, #F54EA2, #FF7676);
}


/* Block */

#block_c {
    width: 15vw;
    border-right: none;
}

#title_c {
    background: -webkit-linear-gradient(#17EAD9, #6078EA);
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#container_c {
    background: linear-gradient(to right, #17EAD9, #6078EA);
}


/* Footer */

#footer {
    background-color: #111;
    border-top: 2px solid #111;
    bottom: 0;
    height: 6vh;
    padding: 10px 0px;
    position: fixed;
    width: 100vw;
}


/* Style all font icons */

.fa {
    color: white;
    font-size: 30px;
    padding: 0.85vw;
    text-align: center;
    text-decoration: none;
    width: 100px;
}


/* Tooltip container */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #222222;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity .5s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
    border-width: 10px;
    border-style: solid;
    border-color: #222222 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}


/* Toggle Mode */

.fa-sun {
    float: right;
}


/* invis scroll */

::-webkit-scrollbar {
    display: none;
}