/* style.css */

body {
    background-color: #250902;
    color: White;
    margin: 0;
}


/* Scroll Presentation Top */

.top-container {
    background-color: #250902;
    padding: 30px;
    text-align: center;
}

.header {
    padding: 10px 0px;
    height: 50px;
    width: 100%;
    background-color: #38040E;
}

.content {
    padding: 16px;
}

.sticky_top {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky_top+.content {
    padding-top: 10px;
}


/* Scroll Presentation Bottom */

.bottom-container {
    background-color: #38040E;
    padding: 70px;
    text-align: center;
}

.footer {
    padding: 10px 0px;
    height: 50px;
    width: 100%;
    background-color: #250902;
}

.content {
    padding: 16px;
}

.sticky_bottom {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.sticky_bottom+.content {
    padding-bottom: 10px;
}


/* Block Presentation */

div {
    position: static;
}

.block {
    top: 50px;
    height: 500px;
    background-color: #EDE6E3;
}

.block2 {
    height: 500px;
}

.block2_a {
    float: left;
    height: 500px;
    width: 50%;
    background-color: #4E4D5C;
}

.block2_b {
    float: left;
    height: 500px;
    width: 50%;
    background-color: #805E73;
}

.block3 {
    height: 500px;
    background-color: #EDE6E3;
}

.block4 {
    height: 500px;
}

.block4_a {
    float: left;
    height: 500px;
    width: 50%;
    background-color: #805E73;
}

.block4_b {
    float: left;
    height: 500px;
    width: 50%;
    background-color: #4E4D5C;
}